<h1>New Form</h1>
<%= form_for :institution do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :picture %><br>
    <%= f.text_field :picture %>
  </p>
 
  <p>
    <%= f.label :category %><br>
    <%= f.select :categories, Institution.categories.keys.to_a.map { |w| [w.humanize, w] }%>

    <%#= f.input :category, as: select, collection: Institution.categories.keys.to_a%>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
 
  <p>
    <%= f.label :phone %><br>
    <%= f.telephone_field :phone %>
  </p>
 
  <p>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </p>
 
  <p>
    <%= f.label :email %><br>email:string
    <%= f.email_field :email %>
  </p>
 
  <p>
    <%= f.label :website %><br>
    <%= f.url_field :website %>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
