<%= form_for @event do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@event.errors.count, "error") %> prohibited this event/job from being saved:
      </h2>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label "Nombre" %><br>
    <%= f.text_field :name, class:"form-control" %>
  </p>
  <p>
    <%= f.label "Descripción" %><br>
    <%= f.text_area :description, class:"form-control" %>
  </p>
  <p>
    <%= f.label "Fecha inicial" %><br>
    <%= f.date_field :initial_date, class:"form-control" %>
  </p>
  <p>
    <%= f.label "Fecha Final" %><br>
    <%= f.date_field :end_date, class:"form-control" %>
  </p>

  <p>
    <%= f.label "Latitud" %>
    <%= f.number_field :latitude %>
  </p>
  <p>
    <%= f.label "Longitud" %>
    <%= f.number_field :longitude %>
    <%= params[:institution_id] %>
    <%#= hidden_field :event, :institution_id, :value => params[:institution_id] %>
    <%= hidden_field :event , :institution_id, :value => params[:institution_id] %>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>