<!DOCTYPE html>
<html>
<head>

  <title>Mapasocial</title>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQUwvPEzR9OprimXiGF_m30_c9KELKPmA">
  </script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>



  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Neuton|Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- Docs master nav -->
    <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <a href="../" class="navbar-brand"><%= image_tag "ms_logo.png" %></a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse">
      <!-- <ul class="nav navbar-nav">
        <li>
          <a href="../getting-started/">Getting started</a>
        </li>
        <li>
          <a href="../css/">CSS</a>
        </li>
        <li class="active">
          <a href="../components/">Components</a>
        </li>
        <li>
          <a href="../javascript/">JavaScript</a>
        </li>
        <li>
          <a href="../customize/">Customize</a>
        </li>
      </ul> -->
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Inscribir tu Fundacion", new_user_registration_path %></li>
       <li><%= link_to "Ingresar", new_user_session_path %></li>


      </ul>
    </nav>
  </div>
</header>

 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
<%= yield %>
 <footer class="footer">
      <div class="container">
        <p>(c) 2015, MapaSocial, all rights reserved</p>
      </div>
</footer>

</body>
</html>
